# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
coverage

# Next.js
/.next/
/out/

# Production
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files (Secrets must NEVER be committed)
.env
.env*.local
.env.development
.env.test
.env.production

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Scratch
scratch/
